body{
    background-color: rgb(252, 157, 78);
    margin: 0%;
    overflow-x: hidden;
}
#typewriter-text{
    overflow: hidden;
    white-space: pre;
    margin: 0 auto;
    text-align: center;
    font-size: 50pt;
    font-family: 'Honk';
    padding: 20px;
    height: 50px;
}@media only screen and (max-width: 600px){
    #typewriter-text{
        font-size: 28pt;
        padding: 20px;
    }
}
.banner{
    padding: 15px;
    width: 100%;
}

.honk-uniquifier> {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}
.balsamiq-sans-regular {
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.menu{
    background-color: rgb(249, 239, 130);
    padding: 20px;
    word-spacing: 10px;
    width: 100%;
}@media only screen and (max-width: 600px){
    .menu a{
        display: block;
        text-align: center;
    }
}
.menu a{
    font-family: 'Honk';
    font-size: 26pt;
    
}@media only screen and (max-width: 600px){
    .menu a{
        font-size: 22pt;
    }
}
.lining{
    border: 4px solid rgb(246, 89, 115);
    margin: 0;
}
.container{
    display: inline-flex;
    flex-direction: row;
    height:100%;
    width: 100%;
    border-bottom: none;
}@media only screen and (max-width: 600px){
    .container{
        display: block;
        height: auto;
        width: 100%;
    }
}
.links{
    width: 40%;
    padding: 10px;
    height: 100%;
    overflow: hidden;
    margin: 0%;
}@media only screen and (max-width: 600px){
    .links{
        text-align: center;
        width: 100%;
        height: auto;
        padding: 5px;
    }
}
h1, h2{
    font-family: 'Honk';
    margin: 15px;
}
.linkertext{
    padding: 20px;
    font-family: "Balsamiq Sans", sans-serif;
}
.textimg{
    width: 40%;
    
}
.rechts{
    background-color: rgb(249, 239, 130);
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 5px;
    overflow: hidden;
    
}@media only screen and (max-width: 600px){
    .rechts{
        width: 100%;
        height: auto;
        padding: 5px;
    }
}
.rechtertext{
    
    font-family: "Balsamiq Sans", sans-serif;
}@media only screen and (max-width: 600px){
    .rechtertext{
        padding: 10px;
    }
}
.textimg2{
    width: 25%;
}
.bottom{
    margin: 0%;
    bottom: 0;
    height: 75px;
    width: 100%;
    background-color: rgb(246, 89, 115);
    text-align: center;
    padding: 5px;
}

.bottomtext{
    text-align: left;
    padding: 20px;
    font-family: "Balsamiq Sans", sans-serif;
}@media only screen and (max-width: 600px){
    .bottomtext{
        text-align: center;
    }
}
