body{
    margin: 0%;
    overflow-x: hidden;
    background-color: rgb(248, 193, 89);
    width: 100%;
    
}
#typewriter-text{
    overflow: hidden;
    white-space: pre;
    margin: 0 auto;
    text-align: center;
    font-size: 40pt;
    font-family: 'Honk';
    padding: 20px;
    height: 50px;
}@media only screen and (max-width: 600px){
    #typewriter-text{
        font-size: 28pt;
        padding: 20px;
    }
}
.banner{
    width: 100%;
}

.honk-uniquifier> {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}
.balsamiq-sans-regular {
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.menu{
    background-color: rgb(249, 239, 130);
    padding-top: 20px;
    word-spacing: 10px;
    width: 100%;
}
.menu a{
    font-family: 'Balsamiq Sans', sans-serif;
    font-size: 26pt;
    padding-left: 10px;
    text-decoration: none;
    color:black;
}@media only screen and (max-width: 600px){
    .menu a{
        display: block;
        text-align: center;
        padding: 5px;
        font-size: 18pt;
    }
}
.lining{
    border: 4px solid rgb(246, 89, 115);
    margin: 0;
}
.container{
    display: inline-flex;
    width: 100%;
    height: 750px;
    overflow: hidden;
}@media only screen and (max-width: 600px){
    .container{
        display: block;
        width: 100%;
        height: auto;
    }
}
.links{
    width: 400px;
    padding: 5px;
    padding-left: 10px;
    height: auto;
    overflow: hidden;
    margin: 0%;
}@media only screen and (max-width: 600px){
    .links{
        text-align: center;
        width: 100%;
    }
}
h1, h2, h3{
    font-family: 'Honk';
    margin: 10px;
}
.linkertext{
    padding: 15px;
    font-family: "Balsamiq Sans", sans-serif;
}
.textimg{
    width: 50%;
    padding: 10%;
    
}@media only screen and (max-width: 600px){
    .textimg{
        padding: 5px;
        width:35%;
    }
}
.rechts{
    width: 100%;
    background-color: rgb(249, 239, 130);
    text-align: center;
    padding: 5px;   
}@media only screen and (max-width: 600px){
    .rechts{
        width: 100%;
        height: auto;
        padding: 5px;
    }
}
.rechtertext{
    
    font-family: "Balsamiq Sans", sans-serif;
}@media only screen and (max-width: 600px){
    .rechtertext{
       padding: 10px;
    }
}
.textimg2{
    width: 20%;
    padding: 5%;
}@media only screen and (max-width: 600px){
    .textimg2{
        padding: 10px;
        width: 25%;
    }
}
.bottom{
    height: 40px;
    width: 100%;
    background-color: rgb(246, 89, 115);
    text-align: center;
    margin: 0%;
    padding: 5px;
    overflow: hidden;
    
}
.bottomtext{
    text-align: left;
    font-family: "Balsamiq Sans", sans-serif;
}@media only screen and (max-width: 600px){
    .bottomtext{
        text-align: center;
    }
}
